html {
    font-size: 1em;
    --one: #2d4059;
    --two: #decdc3;
    --cake: #ff9a76;
    --candle: #e5e5e5;
    font-family: 'Lobster', cursive;
}

*, *::before
, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    width: 10rem;
    height: 4rem;
    font-size: 1.25rem;
    margin: 20% auto 0;
    border-radius: 2rem;
    outline: none;
    display: block;
    box-shadow: inset 0 0 10px var(--candle), 0 0 10px var(--candle);
}

body {
    background: linear-gradient(135deg, var(--one), var(--two)) no-repeat;
    max-width: 100%;
    height: 200vh;
    overflow-x: hidden;
}

.cake {
    margin: 24vh auto 0;
    position: relative;
}

.stars {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 6.45%;
}

.star img {
    width: 50%;
    height: auto;
}

.top_star {
    transform: translate(12.5% ,calc(70% + 2.5rem)) scale(1.5);
}

.top, .middle, .bottom , .top_top, .bottom_bottom{
    margin: 0 auto;
    padding: 1rem;
    background: var(--cake);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 0 10px var(--cake);
}

.candle {
    position: absolute;
    padding: 0.5rem;
    height: 2.25rem;
    margin: 1rem;
    background: var(--candle);
    z-index: -1;
}

.top{
    width: calc(10% + 5rem);
    height: 4.5rem;
}

.middle{
    width: calc(10% + 10rem);
    height: 5rem;
}

.bottom{
    width: calc(10% + 15rem);
    height: 5rem;
}

.top_top{
    width: calc(5% + 3rem);
    height: 4rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.bottom_bottom{
    width: calc(10% + 20rem);
    height: 6rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.one{
    margin: 0;
    transform: translateY(-120%);
}

.top .two{
    margin: 0 0 0 calc(5% + 1rem);
    transform: translateY(-300%);
}

.top .three{
    margin: 0 0 0 calc(10% + 2rem);
    transform: translateY(-120%);
}

.middle .two{
    margin: 0 0 0 calc(10% + 7rem);
    transform: translateY(-120%);
}

.bottom .two{
    margin: 0 0 0 calc(10% + 12rem);
    transform: translateY(-120%);
}

.candle::before{
    content: '';
    position: absolute;
    display: block;
    width: 0.5rem;
    height: 1.25rem;
    transform: translate(-50%, -140%);
    background: aqua;
    border-radius: 50%;
    animation: fire 5s infinite ease-in-out;
}

#p1, #p2, #p3{
    font-size: 2rem;
    position: absolute;
    text-align: center;
    top: 60%;
    color: var(--one);
}

#p1{
    left: 4%;
    transform: rotate(10deg);
    animation: text1 3s infinite ease-in-out;
}

#p2{
    left: 73%;
    transform: rotate(-10deg);
    animation: text2 3s infinite ease-in-out;
}

#p3{
    display: block;
    color: var(--candle);
    margin: 0 auto;
    position: relative;
}

#gallery{
    display: block;
    position: relative;
    margin: 1rem auto;
    width: calc(10% + 20rem);
    height: auto;
    box-shadow: 4px 4px 10px var(--one);
    border-radius: 5px;
}

.star1{animation: star1 2s infinite ease-in-out;}
.star2{animation: star2 2.1s infinite ease-in-out;}
.star3{animation: star3 2.2s infinite ease-in-out;}
.star5{animation: star5 2.3s infinite ease-in-out;}
.star6{animation: star6 2.4s infinite ease-in-out;}
.star7{animation: star7 2.5s infinite ease-in-out;}

@keyframes fire {
    0%{background: #ffae00;}
    25%{background: #eeb63e;}
    50%{background: #ffae00;}
    75%{background: #eeb63e;}
    100%{background: #ffae00;}
}

@keyframes text1 {
    0%{transform: rotate(-15deg) scale(1);}
    50%{transform:rotate(-15deg) scale(1.25);}
    100%{transform:rotate(-15deg) scale(1);}
}

@keyframes text2 {
    0%{transform:rotate(15deg) scale(1);}
    50%{transform:rotate(15deg) scale(1.25);}
    100%{transform:rotate(15deg) scale(1);}
}

@keyframes star1 {
    0%{transform: translateY(0);}
    50%{transform: translateY(160%);}
    100%{transform: translateY(0);}
}

@keyframes star2 {
    0%{transform: translateY(0);}
    50%{transform: translateY(170%);}
    100%{transform: translateY(0);}
}

@keyframes star3 {
    0%{transform: translateY(0);}
    50%{transform: translateY(180%);}
    100%{transform: translateY(0);}
}

@keyframes star5 {
    0%{transform: translateY(0);}
    50%{transform: translateY(190%);}
    100%{transform: translateY(0);}
}

@keyframes star6 {
    0%{transform: translateY(0);}
    50%{transform: translateY(200%);}
    100%{transform: translateY(0);}
}

@keyframes star7 {
    0%{transform: translateY(0);}
    50%{transform: translateY(210%);}
    100%{transform: translateY(0);}
}

@media (max-width: 600px){
    .top_star {
        transform: translate(18% ,calc(70% + 4.5rem)) scale(1.75)
    }

    .top_top{
        width: calc(5% + 2rem);
    }

    #p1, #p2{
        font-size: 0.8rem;
        top: 30%;
        color: var(--one);
    }

    #p1{
        left: 5%;
    }
    
    #p2{
        left: 65%;
    }

    .btn{
        margin: 35% auto 0;
    }
}